body {
	background-color: Tomato;
	color: white;
}

#topOfPage {
	border: 1px solid black;
}

#Homepage {
	background-color: Orange;
	text-decoration: none;
	text-align: center;
	display:inline-block;
	color: black;
	font-family: verdana;
	width:20%;
}

#tabs {
	border: 1px solid black;
	width: 60%;
	list-style-type: none;
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: 2em;
	margin-right: 2%;
}

#tabs li{
	display: inline-block;
	text-align: center;
	margin-right:10%;
}

#coolPicture{
	background-color: black;
	margin-top: 1%;
	text-align: center;
}
#search {
	border: 1px solid black;
	margin-top: 2%;
}

#results {
	border: 1px solid black;
	margin-top: 2%;
}

div.home{
	border: 1px solid black;
	margin-left: 20%;
	width: 60%;
	display: block;
	margin-top: 2%;
	margin-bottom:2%;
}

div.homeInfo{
	display: inline-block;
}
div.homePrice_Reserve{
	display: inline-block;
	float: right;
}

#bottomTabs {
	border-top: 1px solid black;
	text-align: center;
}

#bottomTabs li{
	display: inline-block;
	margin-right: 6%;
	margin-top: 1%; 
}

